In [5]:
import pandas as pd

In [17]:
# Load file
file_path = r"C:\Users\czapk\OneDrive\Desktop\Moms stuff\Masters\BIA 690 Capstone\Capstone\zip_code_data.csv"
df = pd.read_csv("zip_code_database.csv")

# Preview data
df.head()

,zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population
0,501,UNIQUE,0,Holtsville,NaN,Internal Revenue Service,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,562
1,544,UNIQUE,0,Holtsville,NaN,Internal Revenue Service,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,0
2,601,STANDARD,0,Adjuntas,NaN,"Colinas Del Gigante, Jard De Adjuntas, Urb San...",PR,Adjuntas Municipio,America/Puerto_Rico,"787, 939",NaN,US,18.16,-66.72,0
3,602,STANDARD,0,Aguada,NaN,"Alts De Aguada, Bo Guaniquilla, Comunidad Las ...",PR,Aguada Municipio,America/Puerto_Rico,"787, 939",NaN,US,18.38,-67.18,0
4,603,STANDARD,0,Aguadilla,Ramey,"Bda Caban, Bda Esteves, Bo Borinquen, Bo Ceiba...",PR,Aguadilla Municipio,America/Puerto_Rico,"787, 939",NaN,US,18.43,-67.15,0

In [19]:
# Drop decommissioned ZIPs
df = df[df['decommissioned'] ==0]

In [21]:
# Standardize city names
df['primary_city'] = df['primary_city'].str.title()
df['state'] = df['state'].str.upper()

In [23]:
# Preview data
df.head()

,zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population
0,501,UNIQUE,0,Holtsville,NaN,Internal Revenue Service,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,562
1,544,UNIQUE,0,Holtsville,NaN,Internal Revenue Service,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,0
2,601,STANDARD,0,Adjuntas,NaN,"Colinas Del Gigante, Jard De Adjuntas, Urb San...",PR,Adjuntas Municipio,America/Puerto_Rico,"787, 939",NaN,US,18.16,-66.72,0
3,602,STANDARD,0,Aguada,NaN,"Alts De Aguada, Bo Guaniquilla, Comunidad Las ...",PR,Aguada Municipio,America/Puerto_Rico,"787, 939",NaN,US,18.38,-67.18,0
4,603,STANDARD,0,Aguadilla,Ramey,"Bda Caban, Bda Esteves, Bo Borinquen, Bo Ceiba...",PR,Aguadilla Municipio,America/Puerto_Rico,"787, 939",NaN,US,18.43,-67.15,0

In [25]:
# Define zip codes of interest
target_zips = [56472, 56441, 56442, 56474, 56448]

# Filter the DataFrame to just those zip codes
df_filtered = df[df['zip'].isin(target_zips)]

# Preview the results
df_filtered.head()

,zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population
24972,56441,STANDARD,0,Crosby,NaN,Trommald,MN,Crow Wing County,America/Chicago,218,NaN,US,46.49,-93.95,2750
24973,56442,STANDARD,0,Crosslake,"Manhattan Bch, Manhattan Beach",Cross Lake,MN,Crow Wing County,America/Chicago,218,NaN,US,46.68,-94.09,2830
24978,56448,STANDARD,0,Fifty Lakes,NaN,NaN,MN,Crow Wing County,America/Chicago,218,NaN,US,46.74,-94.09,510
24995,56472,STANDARD,0,Pequot Lakes,"Breezy Point, Jenkins",NaN,MN,Crow Wing County,America/Chicago,218,NaN,US,46.60,-94.32,8310
24997,56474,STANDARD,0,Pine River,Jenkins,"Barclay, Blind Lake, Chickamaw Beach, Ponto La...",MN,Cass County,America/Chicago,218,NaN,US,46.72,-94.39,3940

In [29]:
import pandas as pd

# Load core metrics file
df_core = pd.read_csv("RDC_Inventory_Core_Metrics_Zip.csv")

# Filter for your target ZIPs
target_zips = [56472, 56441, 56442, 56474, 56448]
df_core_filtered = df_core[df_core['postal_code'].isin(target_zips)]

# Preview
df_core_filtered.head()

,month_date_yyyymm,postal_code,zip_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag
1418,202506,56442,"crosslake, mn",799475.0,0.1437,0.1229,45,-0.0326,0.3485,43.0,...,940490.0,0.0033,-0.1144,55,-0.0351,0.2500,0.2247,-0.0362,-0.1086,0
2748,202506,56448,"fifty lakes, mn",667500.0,0.4434,-0.1635,5,0.6667,0.6667,35.0,...,756293.0,0.1289,-0.0959,7,0.3000,0.3000,0.2000,-0.4667,-0.6333,1
5393,202506,56474,"pine river, mn",543675.0,0.2084,0.4309,26,0.1591,1.3182,50.0,...,794064.0,0.0338,0.2123,40,0.2344,0.7955,0.5490,0.0945,-0.5419,0
17302,202506,56441,"crosby, mn",246750.0,0.0281,-0.0126,12,-0.1786,0.4375,53.0,...,440136.0,0.1309,0.3216,18,-0.0789,0.0938,0.5217,0.2360,-0.6033,0
19953,202506,56472,"pequot lakes, mn",537450.0,0.0489,0.1459,70,-0.0347,0.1393,68.0,...,663329.0,0.3086,0.2370,99,-0.0051,0.2012,0.4245,0.0356,0.0474,0

In [105]:

# Load Census file
df_census2 = pd.read_csv("Census2.csv")

# Preview the top rows
df_census2.head(20)

,Label (Grouping),Minnesota!!Total!!Estimate,Minnesota!!65 years and over!!Estimate,"Crow Wing County, Minnesota!!Total!!Estimate","Crow Wing County, Minnesota!!65 years and over!!Estimate",ZCTA5 51360!!Total!!Estimate,ZCTA5 51360!!65 years and over!!Estimate,ZCTA5 55001!!Total!!Estimate,ZCTA5 55001!!65 years and over!!Estimate,ZCTA5 55003!!Total!!Estimate,...,ZCTA5 57026!!Total!!Estimate,ZCTA5 57026!!65 years and over!!Estimate,ZCTA5 57030!!Total!!Estimate,ZCTA5 57030!!65 years and over!!Estimate,ZCTA5 57068!!Total!!Estimate,ZCTA5 57068!!65 years and over!!Estimate,ZCTA5 58030!!Total!!Estimate,ZCTA5 58030!!65 years and over!!Estimate,ZCTA5 58225!!Total!!Estimate,ZCTA5 58225!!65 years and over!!Estimate
0,Total population,"5,713,716","962,143","67,113","16,004",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SEX AND AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Male,50.10%,46.20%,49.90%,47.80%,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Female,49.90%,53.80%,50.10%,52.20%,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Median age (years),38.6,73,45.4,73.3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,RACE AND HISPANIC OR LATINO ORIGIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,One race,93.80%,98.30%,96.70%,99.00%,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,White,78.40%,92.40%,94.20%,98.00%,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Black or African American,6.80%,2.30%,0.60%,0.10%,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,American Indian and Alaska Native,0.90%,0.50%,0.70%,0.40%,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Asian,5.10%,2.10%,0.40%,0.40%,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Native Hawaiian and Other Pacific ...,0.00%,0.00%,0.00%,0.00%,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Some other race,2.70%,0.90%,0.80%,0.10%,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Two or more races,6.20%,1.70%,3.30%,1.00%,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Hispanic or Latino origin (of any race),6.20%,1.60%,1.50%,0.20%,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,"White alone, not Hispanic or Latino",76.70%,92.10%,93.60%,97.90%,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,RELATIONSHIP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Population in households,"5,575,919","921,658","65,931","15,385",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Householder or spouse,61.10%,93.90%,66.30%,95.40%,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Parent,0.70%,2.20%,0.40%,1.50%,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
#check Header
df_census2 = pd.read_csv("Census2.csv", header=0)

In [107]:
df_census2.columns

Index(['Label (Grouping)', 'Minnesota!!Total!!Estimate',
       'Minnesota!!65 years and over!!Estimate',
       'Crow Wing County, Minnesota!!Total!!Estimate',
       'Crow Wing County, Minnesota!!65 years and over!!Estimate',
       'ZCTA5 51360!!Total!!Estimate',
       'ZCTA5 51360!!65 years and over!!Estimate',
       'ZCTA5 55001!!Total!!Estimate',
       'ZCTA5 55001!!65 years and over!!Estimate',
       'ZCTA5 55003!!Total!!Estimate',
       ...
       'ZCTA5 57026!!Total!!Estimate',
       'ZCTA5 57026!!65 years and over!!Estimate',
       'ZCTA5 57030!!Total!!Estimate',
       'ZCTA5 57030!!65 years and over!!Estimate',
       'ZCTA5 57068!!Total!!Estimate',
       'ZCTA5 57068!!65 years and over!!Estimate',
       'ZCTA5 58030!!Total!!Estimate',
       'ZCTA5 58030!!65 years and over!!Estimate',
       'ZCTA5 58225!!Total!!Estimate',
       'ZCTA5 58225!!65 years and over!!Estimate'],
      dtype='object', length=1779)

In [109]:
# Keep only the label and Crow Wing County estimate columns
df_crow_wing = df_census2[['Label (Grouping)', 'Crow Wing County, Minnesota!!Total!!Estimate']].copy()

# Rename columns for clarity
df_crow_wing.columns = ['label', 'estimate']

In [111]:
df_census2.columns

Index(['Label (Grouping)', 'Minnesota!!Total!!Estimate',
       'Minnesota!!65 years and over!!Estimate',
       'Crow Wing County, Minnesota!!Total!!Estimate',
       'Crow Wing County, Minnesota!!65 years and over!!Estimate',
       'ZCTA5 51360!!Total!!Estimate',
       'ZCTA5 51360!!65 years and over!!Estimate',
       'ZCTA5 55001!!Total!!Estimate',
       'ZCTA5 55001!!65 years and over!!Estimate',
       'ZCTA5 55003!!Total!!Estimate',
       ...
       'ZCTA5 57026!!Total!!Estimate',
       'ZCTA5 57026!!65 years and over!!Estimate',
       'ZCTA5 57030!!Total!!Estimate',
       'ZCTA5 57030!!65 years and over!!Estimate',
       'ZCTA5 57068!!Total!!Estimate',
       'ZCTA5 57068!!65 years and over!!Estimate',
       'ZCTA5 58030!!Total!!Estimate',
       'ZCTA5 58030!!65 years and over!!Estimate',
       'ZCTA5 58225!!Total!!Estimate',
       'ZCTA5 58225!!65 years and over!!Estimate'],
      dtype='object', length=1779)

In [73]:
# Strip whitespace and lowercase labels for consistency
df_crow_wing['label'] = df_crow_wing['label'].str.strip().str.lower()

# Convert estimate column to numeric (if it's not already)
df_crow_wing['estimate'] = pd.to_numeric(df_crow_wing['estimate'], errors='coerce')

# Drop rows with missing or zero estimates
df_crow_wing = df_crow_wing[df_crow_wing['estimate'].notnull()]
df_crow_wing = df_crow_wing[df_crow_wing['estimate'] > 0]

In [81]:
#Filter the keywords for model
keywords = [
    "total population", "median age", "householder living alone",
    "owner-occupied housing units", "mean earnings", "median value",
    "poverty", "veteran", "disability", "different county"
]

df_crow_wing_filtered = df_crow_wing[df_crow_wing['label'].str.contains('|'.join(keywords))]

In [115]:
df_census2.shape

(125, 1779)

In [117]:
df_census2.head
df_census2.info

<bound method DataFrame.info of                                       Label (Grouping)  \
0                                     Total population
1                                          SEX AND AGE
2                                                 Male
3                                               Female
4                                   Median age (years)
..                                                 ...
120      GROSS RENT AS A PERCENTAGE OF HOUSEHOLD IN...
121                               Less than 30 percent
122                                 30 percent or more
123                                         GROSS RENT
124                        Median gross rent (dollars)

    Minnesota!!Total!!Estimate Minnesota!!65 years and over!!Estimate  \
0                    5,713,716                                962,143
1                          NaN                                    NaN
2                       50.10%                                 46.20%
3                       49.90%                                 53.80%
4                         38.6                                     73
..                         ...                                    ...
120                        NaN                                    NaN
121                     55.40%                                 41.60%
122                     44.60%                                 58.40%
123                        NaN                                    NaN
124                      1,235                                  1,122

    Crow Wing County, Minnesota!!Total!!Estimate  \
0                                         67,113
1                                            NaN
2                                         49.90%
3                                         50.10%
4                                           45.4
..                                           ...
120                                          NaN
121                                       59.00%
122                                       41.00%
123                                          NaN
124                                          962

    Crow Wing County, Minnesota!!65 years and over!!Estimate  \
0                                               16,004
1                                                  NaN
2                                               47.80%
3                                               52.20%
4                                                 73.3
..                                                 ...
120                                                NaN
121                                             46.10%
122                                             53.90%
123                                                NaN
124                                              1,135

     ZCTA5 51360!!Total!!Estimate  ZCTA5 51360!!65 years and over!!Estimate  \
0                             NaN                                       NaN
1                             NaN                                       NaN
2                             NaN                                       NaN
3                             NaN                                       NaN
4                             NaN                                       NaN
..                            ...                                       ...
120                           NaN                                       NaN
121                           NaN                                       NaN
122                           NaN                                       NaN
123                           NaN                                       NaN
124                           NaN                                       NaN

     ZCTA5 55001!!Total!!Estimate  ZCTA5 55001!!65 years and over!!Estimate  \
0                             NaN                                       NaN
1                             NaN                                       NaN
2                             NaN                                       NaN
3                             NaN                                       NaN
4                             NaN                                       NaN
..                            ...                                       ...
120                           NaN                                       NaN
121                           NaN                                       NaN
122                           NaN                                       NaN
123                           NaN                                       NaN
124                           NaN                                       NaN

     ZCTA5 55003!!Total!!Estimate  ...  ZCTA5 57026!!Total!!Estimate  \
0                             NaN  ...                           NaN
1                             NaN  ...                           NaN
2                             NaN  ...                           NaN
3                             NaN  ...                           NaN
4                             NaN  ...                           NaN
..                            ...  ...                           ...
120                           NaN  ...                           NaN
121                           NaN  ...                           NaN
122                           NaN  ...                           NaN
123                           NaN  ...                           NaN
124                           NaN  ...                           NaN

     ZCTA5 57026!!65 years and over!!Estimate  ZCTA5 57030!!Total!!Estimate  \
0                                         NaN                           NaN
1                                         NaN                           NaN
2                                         NaN                           NaN
3                                         NaN                           NaN
4                                         NaN                           NaN
..                                        ...                           ...
120                                       NaN                           NaN
121                                       NaN                           NaN
122                                       NaN                           NaN
123                                       NaN                           NaN
124                                       NaN                           NaN

     ZCTA5 57030!!65 years and over!!Estimate  ZCTA5 57068!!Total!!Estimate  \
0                                         NaN                           NaN
1                                         NaN                           NaN
2                                         NaN                           NaN
3                                         NaN                           NaN
4                                         NaN                           NaN
..                                        ...                           ...
120                                       NaN                           NaN
121                                       NaN                           NaN
122                                       NaN                           NaN
123                                       NaN                           NaN
124                                       NaN                           NaN

     ZCTA5 57068!!65 years and over!!Estimate  ZCTA5 58030!!Total!!Estimate  \
0                                         NaN                           NaN
1                                         NaN                           NaN
2                                         NaN                           NaN
3                                         NaN                           NaN
4                                         NaN                           NaN
..                                        ...                           ...
120                                       NaN                           NaN
121                                       NaN                           NaN
122                                       NaN                           NaN
123                                       NaN                           NaN
124                                       NaN                           NaN

     ZCTA5 58030!!65 years and over!!Estimate  ZCTA5 58225!!Total!!Estimate  \
0                                         NaN                           NaN
1                                         NaN                           NaN
2                                         NaN                           NaN
3                                         NaN                           NaN
4                                         NaN                           NaN
..                                        ...                           ...
120                                       NaN                           NaN
121                                       NaN                           NaN
122                                       NaN                           NaN
123                                       NaN                           NaN
124                                       NaN                           NaN

     ZCTA5 58225!!65 years and over!!Estimate
0                                         NaN
1                                         NaN
2                                         NaN
3                                         NaN
4                                         NaN
..                                        ...
120                                       NaN
121                                       NaN
122                                       NaN
123                                       NaN
124                                       NaN

[125 rows x 1779 columns]>

In [83]:
#save the cleaned file
df_crow_wing_filtered.to_csv("crow_wing_census_cleaned.csv", index=False)

In [91]:
import pandas as pd

df_scraper = pd.read_csv("RealtorScraper.csv", low_memory=False)
df_scraper.columns[:50]  # See the first 50 column headers
df_scraper.shape  # Check total rows and columns

(449, 2000)

In [97]:
df_scraper.columns = df_scraper.columns.str.strip()  # optional: .str.lower()


columns_to_keep = [
    "address/locality",
    "address/postalCode",
    "address/region",
    "address/street",
    "advertisers/0/broker/name",
    "advertisers/0/email",
    "advertisers/0/name",
    "history/0/event_name",
    "history/0/price",
    "taxHistory/0/assessment/total",
    "BuildingPermitsHistory",
    "BuildingPermitsHistory/0/permit_effective_date",
    "buildingPermitsHistory/0/permit_project_type_1",
    "details/0/category",
    "details/1/category",
]
existing_cols = [col for col in columns_to_keep if col in df_scraper.columns]
df_cleaned = df_scraper[existing_cols].copy()

In [99]:
df_cleaned.head()
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449 entries, 0 to 448
Data columns (total 13 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   address/locality                                448 non-null    object
 1   address/postalCode                              449 non-null    int64
 2   address/region                                  449 non-null    object
 3   address/street                                  448 non-null    object
 4   advertisers/0/broker/name                       230 non-null    object
 5   advertisers/0/email                             428 non-null    object
 6   advertisers/0/name                              447 non-null    object
 7   history/0/event_name                            449 non-null    object
 8   history/0/price                                 449 non-null    int64
 9   taxHistory/0/assessment/total                   206 non-null    float64
 10  buildingPermitsHistory/0/permit_project_type_1  75 non-null     object
 11  details/0/category                              449 non-null    object
 12  details/1/category                              449 non-null    object
dtypes: float64(1), int64(2), object(10)
memory usage: 45.7+ KB

In [101]:
# Save the cleaned data to a CSV file
df_cleaned.to_csv("RealtorScraper_cleaned.csv", index=False)

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41695 entries, 0 to 42734
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   zip                       41695 non-null  int64
 1   type                      41695 non-null  object
 2   decommissioned            41695 non-null  int64
 3   primary_city              41695 non-null  object
 4   acceptable_cities         9081 non-null   object
 5   unacceptable_cities       11219 non-null  object
 6   state                     41695 non-null  object
 7   county                    40937 non-null  object
 8   timezone                  41062 non-null  object
 9   area_codes                41037 non-null  object
 10  world_region              253 non-null    object
 11  country                   41617 non-null  object
 12  latitude                  41695 non-null  float64
 13  longitude                 41695 non-null  float64
 14  irs_estimated_population  41695 non-null  int64
dtypes: float64(2), int64(3), object(10)
memory usage: 5.1+ MB